<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <!-- Log -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <variable name="logDirectoryAll" value="${basedir}/logs/${shortdate}"/>
    <variable name="logDirectoryError" value="${basedir}/logs"/>

    <targets async="false">
      <target name="f" xsi:type="File" fileName="${logDirectoryAll}/log_${processname}.txt" layout="${longdate} [${logger}] ${level} ${message}" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="true" encoding="utf-8"/>
      <target name="fe" xsi:type="File" fileName="${logDirectoryError}/logErrors${shortdate}_${processname}.txt" layout="${longdate} [${logger}] ${level} ${message}" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="100" concurrentWrites="true" keepFileOpen="false" encoding="utf-8"/>
    </targets>

    <targets>
      <target name="c" xsi:type="ColoredConsole" layout="${longdate} [${logger}] ${level} ${message}"/>
      <!--<target name="c" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>-->
      <target name="ds" xsi:type="OutputDebugString"/>
    </targets>
    <rules>
      <logger name="RunasHelper" minlevel="Info" writeTo="c,f"/>
      <logger name="RunasHelper" minlevel="Error" writeTo="fe"/>
    </rules>
  </nlog>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
