<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<section name="fakeNetManage" type="System.Configuration.NameValueSectionHandler"/>
		<section name="supportedVersions" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="CrashDumpFolder" value=".\logs"/>
		<!-- Activate/deactivate logs for USB frames -->
		<add key="ActivateUsbFramesLogs" value="true"/>
		<!-- Modbus Tcp Server -->
		<add key="MbTcpMinPollInterval" value="100"/>
		<add key="MbTcpMaxClients" value="1"/>
		<add key="TcpPort" value="27699"/>
		<!-- Usb communication -->
		<add key="UsbDefaultBufferTimeOut" value="3000"/>
		<!-- SMB launcher -->
		<add key="MainApplicationPath" value="C:\Program Files (x86)\Schneider Electric\EcoStruxure Machine Expert - Basic"/>
		<add key="MainApplicationExe" value="SchneiderElectric.SoMachineBasic.MainApplication.exe"/>
		<add key="RunAsHelperExe" value="RunAsHelper.exe"/>
		<!-- Timeout (in milliseconds) defined for duplex connection between Machine Expert - Basic and launcher service,
    and between Machine Expert and launcher service. Default value is 2000 ms -->
		<add key="GatewayDuplexConnectionTimeout" value="2000"/>
		<!-- Maximum number of Machine Expert - Basic instances allowed when launched by Gateway service. If value is -1, there is no limit. -->
		<add key="MaxMachineExpertBasicInstancesAllowed" value="-1"/>
		<!-- Gateway manager -->
		<add key="GatewayManagerPath" value="C:\\Communication\ModbusTcpUsbGatewayManager\bin\Debug"/>
		<add key="GatewayManagerExe" value="SchneiderElectric.SoMachineBasic.ModbusTcpUsbGatewayManager.exe"/>
		<add key="GatewayManagerProcessName" value="SchneiderElectric.SoMachineBasic.ModbusTcpUsbGatewayManager"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<!-- Log -->
	<nlog configSource="Configuration\nlog.xml"/>
	<!-- fakeNetManage -->
	<fakeNetManage>
		<add key="00 AB AB AV" value="00 00 00 00"/>
		<add key="05 04 03 02 01" value="AA BB CC DD"/>
		<add key="01 02 03 04 05" value="AB BC CD DE"/>
	</fakeNetManage>
	<!-- Supported versions for compatibility between Machine Expert and Machine Expert - Basic.
  The key is the Machine Expert version.
  The value is a list of either Machine Expert - Basic versions, or ranges of Machine Expert - Basic versions
  Each element of the list is separated by a coma (,)
  Ranges are defined using - as a seperation.
  Example: value="0.0.3.0-0.0.4.0,0.0.4.11201" means Machine Expert - Basic versions included in 0.0.3.0 and 0.0.4.0 
  (bottom bound is included and upper bound is excluded) and Machine Expert version 0.0.4.11201
   -->
	<supportedVersions>
		<add key="1.50" value="1.2.0.0-1.2.99.0"/>
	</supportedVersions>
	<system.runtime.remoting>
		<!-- Server configuration for App Domain defining the filtering level for the channels 
      to allow the remote lease manager to call back to the sponsor -->
		<application>
			<service>
				<activated type="RemoteServer.DomainMasterWrapper,ServerAssembly"/>
				<!--<wellknown  type="RemoteServer.DomainMasterWrapper,ServerAssembly"
                    mode="Singleton" objectUri="MyRemoteServer"/>-->
			</service>
			<channels>
				<channel ref="tcp" port="8005">
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
				<channel ref="http" port="8006">
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
			<!-- Client configuration for App Domain defining the filtering level for the channels 
      to allow the remote lease manager to call back to the sponsor -->
			<client url="tcp://localhost:8005">
				<activated type="RemoteServer.DomainMasterWrapper,ServerAssembly"/>
			</client>
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="NetNamedPipeBindingBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netNamedPipeBinding>
				<binding name="duplexendpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
			</netNamedPipeBinding>
		</bindings>
		<services>
			<service name="SchneiderElectric.Automation.SoMachineBasic.Communication.ModbusTcpServer.FacadeGatewayService" behaviorConfiguration="NetNamedPipeBindingBehavior">
				<!-- Communication between client and FacadeGatewayService -->
				<endpoint name="duplexendpoint" address="" binding="netNamedPipeBinding" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.ModbusTcpServer.IFacadeGatewayService"/>
				<endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration="" name="mexNpBinding" contract="IMetadataExchange"/>
				<endpoint address="net.pipe://localhost/GatewayManagerSpyService/" binding="netNamedPipeBinding" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.ModbusTcpServer.IGatewayManagerSpyService">
				</endpoint>
				<endpoint address="net.pipe://localhost/NetManageService/" binding="netNamedPipeBinding" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.ModbusTcpServer.INetManageService">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/FacadeGatewayService/"/>
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="NetNamedPipeBindingBehavior" name="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineLauncherService.LauncherService">
				<endpoint address="" binding="netNamedPipeBinding" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineWcfContracts.ILauncherService"/>
				<endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration="" name="mexNpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/SoMachineBasicLauncherService"/>
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="NetNamedPipeBindingBehavior" name="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineLauncherService.LauncherServiceDuplex">
				<endpoint binding="netNamedPipeBinding" bindingConfiguration="duplexendpoint" name="duplexendpoint" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineWcfContracts.ILauncherServiceDuplex"/>
				<endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration="" name="mexNpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/SoMachineBasicLauncherServiceDuplex"/>
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="NetNamedPipeBindingBehavior" name="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineLauncherService.LauncherDebuggerDuplex">
				<endpoint address="" binding="netNamedPipeBinding" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineWcfContracts.ILauncherDebuggerDuplex"/>
				<endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration="" name="mexNpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/SoMachineBasicLauncherDebugger"/>
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="NetNamedPipeBindingBehavior" name="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineLauncherService.SmbServiceDuplex">
				<endpoint binding="netNamedPipeBinding" bindingConfiguration="" contract="SchneiderElectric.Automation.SoMachineBasic.Communication.SoMachineWcfContracts.ISmbServiceDuplex"/>
				<endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration="" name="mexNpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/SmbServiceDuplex"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
